body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  color: black;
  background-color: white;
  height: 100vh;
  width: 100vw;
}

h1 {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

nav {

}

nav a {
}

.app-container {
  height: 100vh;
  width: 100%;
}

.header {
  width: inherit;
  height: 60px;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  /* background: green; */
}

.header-logo img{
  height: 50px;
  max-width: 25vw;
  margin-top: 5px;
  margin-left: 15px;
}

.header-logo:hover {
  opacity: 0.5;
}

.header-logo-active:hover {
  opacity: 1;
  cursor: default;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: calc(27.5px);
  padding-right: 15px;
  position: relative;
  bottom: 0px;
  height: 1em;
}

.header-link {
  position: relative;
  bottom: 0px;
  font-weight: 300;
  font-size: 1em;
  line-height: 1em;
  color: black;
  /* margin-left: 1em; */
  /* margin-right: 2em; */
  padding-bottom: 0px;
}

.header-link:hover {
  opacity: 0.5;
}

.header-link:not(:last-child){
  margin-right: 2.5em;
}

.header-link.active {
  color: #CF000F;
  transition: color 0.75s linear;
  font-weight: 500;
}

.header-link.active:hover {
  cursor: default;
}


.header-link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: black;
  visibility: hidden;
  /* -webkit-transform: scaleX(0); */
  transform: scaleX(0) ;
  -webkit-transition: all 0.325s ease-in-out 0s;
  transition: all 0.325s ease-in-out 0s;
}

.header-link.active:after {
  visibility: visible;
  width: 100%;
  /* -webkit-transform: scaleX(1); */
  transform: scaleX(1) ;
  transition: all 0.325s ease-in-out 0.325s;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: calc(30px - 0.5em);
  /* padding-right: 15px; */
  /* position: relative; */
  bottom: 0px;
  height: 2em;
}

.social-link {
  /* position: relative;
  bottom: 0px; */
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1.25em;
  color: black;
  /* margin-left: 1em; */
  margin-right: 1em;
  padding-bottom: 0px;
}

.social-link i {
  font-size: 1em;
  line-height: 1em;
}

.content {
  position: fixed;
  padding: 0px;
  margin: 0px;
  top: 75px;
  height: calc(100% - 75px);
  /* min-width: 375px; */
  width: 100vw;
  overflow: scroll;
}
