body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  color: black;
  height: 100vh;
  width: 100vw;
}

h1 {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

nav {

}

nav a {
}

.app-container {
  height: 100vh;
  width: 100%;
}

.header {
  width: 100%;
  height: 50px;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo {
  height: 45px;
  max-width: 25vw;
  margin-top: 6px;
  padding-left: 10px;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 55vw;
  padding-right: 15px;
}

.header-link {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 75px;
  color: black;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-bottom: 0px;
}

.header-link-text {
}

.header-selected {
  color: red;
}

.content {
  padding: 0px;
  margin: 0px;
  margin-top: 25px;
  height: calc(100% - 75px);
  min-width: 400px;
  width: 100vw;
  overflow: scroll;
}
.home-container {
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
}

.home-text-container {
  font-size: 36px;
  line-height: 36px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  justify-content: center;
}

.home-text-container h1 {
  font-weight: 600;
}

.home-text-container span {
  margin-top: 20px;
  font-size: 36px;
  font-weight: 100;
  font-style: normal;
}

.portfolio-link {
  margin-top: 10px;
  text-align: center;
  opacity: 1;
}

.portfolio-link:hover {
  opacity: 0.75;
}

.portfolio-link-text {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  background-color: #CF000F;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  opacity: 1;
}

.mountains-image {
  display: block;
  position: fixed;
  width: 200%;
  bottom: -125px;
  overflow: hidden;
  z-index: -1;
}

.footer {
  position: absolute;
  margin: 0px;
  padding: 0px;
  bottom: 0px;
}
.background1 {
  position: fixed;
  left: 0px;
  bottom: -200px;
  width: 50%;
}

.background2 {
  position: fixed;
  right: 0px;
  bottom: -200px;
  width: 50%;
}
.resume-content {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 1.25em;
  max-width: 600px;
  width: 100%;
  height: 100%;
  align-items: center;
  width: inherit;
}

.resume-container {
  align-self: center;
  float:right;
  margin-right: 10px;
  margin-left: 10px;
  min-width: 375px;
  max-width: 600px;
  height: calc(100% - 25px);
  overflow: scroll;
  box-sizing: border-box;
  font-size: 0.45em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid rgba(0,0,0,0.25);
  box-shadow: -3px 5px 13px -3px rgba(0,0,0,0.75);
}

h1 {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-size: 0.6em;
}

li {
  font-size: 1.45em;
}

.list {
  font-weight: 500;
}

.list li {
  padding-left: 2em;
}

.list li:before {
  content: "+";
  display: inline-block;
  margin-left: -0.75em;
  width: 0.75em;
  color: #CF000F;
  font-weight: 500;
}

.sublist {
  font-weight: 300;
}

.sublist li {
  padding-left: 0.75em;
  font-size: 1.45em;
}

.sublist li:before {
  content: "-";
  width: 0.75em;
  font-weight: 900;
}

.skills ul {
  columns: 3;
  min-height: 50px;
  max-width: 80vw;
}

.skills li {
  font-size: 1.45em;
}

.skills li:before {
  content: "+";
  font-weight: 500;
}


.resume-header{
  border-bottom: 2px solid #CF000F;
  margin: 0px;
  padding: 0px;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  line-height: 53px;
  font-weight: 500;
}

.resume-contact-info {
  border-bottom: 2px solid #CF000F;
  display: flex;
  flex-direction: row;
  padding: 3px;
  margin-left: 3%;
  margin-right: 3%;
  justify-content: space-around;
  box-sizing: border-box;
}

.resume-contact-info i {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.75em;
  width: 25px;
}

.resume-contact-info span {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-top: 2px;
  font-size: 1.25em;
  vertical-align: middle;
}

.phone-number:after {
  content: ".....";
  color: white;
}

.resume-contact {
  text-align: center;
  max-width: 33%;
}

.resume-body {
  width: 80%;
  margin-left: 10%;
  font-size: 1.45em;
}

.body-header {
  border-bottom: 2px solid #CF000F;
  font-size: 1.25em;
  line-height: 16px;
  font-weight: 600;
  width: 100%;
}

.body-header-line {
  height: 10px;
  position: relative;
  bottom: 6px;
  padding: 0px;
  margin: 0px;
  border-right: 2px solid #CF000F;
}
.resume-footer {
  border-bottom: 2px solid #CF000F;
  border-top: 2px solid #CF000F;
  display: flex;
  flex-direction: row;
  padding: 3px;
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 7%;
  padding-right: 7%;
  justify-content: space-around;
  box-sizing: border-box;
}

.resume-footer i {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.75em;
  height: inherit;
  text-decoration: none;
  color: black;
}

.resume-footer span {
  display: inline-block;
  position: relative;
  bottom: 2px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-left: 5px;
  font-size: 0.75em;
  line-height: 0.75em;
  text-decoration: none;
  color: black;
}
